
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", "Noto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  margin: 0em;
  padding: 0em;
  background-color: #FFFFFF;
}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  background-color: #AAAAFF;
}

h1 {
  display: inline;
  font-weight: 200;
  margin: 0em;
}

.contents {
  padding: 1em;
  text-align: center;
}

.contentpart {
  padding-bottom: 1em;
}

.logo {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em;
  background: black;
}

#shellcheck {
  display: inline-block;
}

#github {
  display: inline-block;
}
a:link {
  text-decoration: none;
}

h2 {
  margin-bottom: 0;
}

.benefitblock {
  margin-top: 0;
  text-align: left;
  display: inline-block;
}

/* -- Editor Components -- */

.window {
  width: 100%;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

#titlebar {
  display: flex;
  text-align: left;
  padding: 4px;
  background:
    linear-gradient(
      rgba(245, 245, 245, 1.0),
      rgba(230, 230, 230, 1.0)
      );
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.titleitem {
  display: inline-block;
  text-align: center;
}
.mainitem {
  flex-grow: 1;
}
.windowbody {
  background: rgba(230, 230, 230, 1.0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 4px;
}
.menubar {
  text-align: left;
}
#input {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 4px;
  height: 40%;
}
#terminal {
  width: 100%;
  background-color: #000;
  color: #A0A0A0;
  text-align: left;
  margin: 0;
  font-family: "Consolas", "Courier New", "Monospace";
  padding: 0.5em;
}

.error {
  color: #FF2020;
}
.warning {
  color: #FFFF20;
}
.info {
  color: #20FF20;
}
.style {
  color: #20FF20;
}

a.wikilink {
  color: #8080FF;
  text-decoration: underline;
}
